@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base global do app */
:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0b0f; /* dark */
  color: #e9e9ef;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Helpers (opcional) */
* {
  box-sizing: border-box;
}
